@page
@model DataRecruiters.Pages.BuscarTalentosModel
@{
}

<div class="text-center">
    <h3 class="display-4">Procure aqui talentos para sua empresa!</h3>
    <center>
        <table class="k-table" style="width: 769px; height: 178px;">
            <tbody>
                <tr style="border: solid;">
                    <td style="width:25%; text-align: center; border: solid;">
                        HEAD 1
                    </td>
                    <td style="width: 25%; text-align: center; border: solid;" data-role="resizable" colspan="2">
                        HEAD 2
                    </td>
                    <td style="width: 25%; text-align: center; border: solid;" colspan="2" data-role="resizable">
                        HEAD 3
                    </td>
                    <td style="width: 25%; text-align: center; border: solid;" colspan="2">
                        HEAD 4
                    </td>
                </tr>
                <tr style="border: solid;">
                    <td style="width:25%; text-align: center;">
                        AAAA
                    </td>
                    <td style="width: 25%; text-align: center; border: solid;" data-role="resizable" colspan="2">
                        BBBBB
                    </td>
                    <td style="width: 25%; text-align: center; border: solid;" colspan="2" data-role="resizable">
                        CCCCCC
                    </td>
                    <td style="width: 25%; text-align: center; border: solid;" colspan="2">
                        DDDDDDD
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>