@page
@model DataRecruiters.Pages.BuscarTalentosModel
@{
}

<div class="text-center">
    <h3 class="display-4">Procure aqui talentos para sua empresa!</h3>
    <center>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <td class="col-1" scope="col">#</td>
                    <td class="col-4" scope="col">Nome</td>
                    <td class="col-3" scope="col">Contato</td>
                    <td class="col-2" scope="col">Pontuação</td>
                    <td class="col-2" scope="col">Açoes</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>                        <!-- COLUMN # -->
                    <td>Exemplo 1</td>                <!-- COLUMN 2 -->
                    <td>(18) 99999-9999</td>          <!-- COLUMN 3 -->
                    <td>89,58</td>                    <!-- COLUMN 4 -->
                    <td>
                        <!-- COLUMN BUTTONS -->
                        <button type="button" class="btn btn-warning">Consultar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>