@page
@model DataRecruiters.Pages.CadastrarTalentoModel
@section Styles {
    <link rel="stylesheet" href="~/css/Form.css" />
}
@{
}

<div class="text-center">
    <h3 class="display-4">Faça sua voz ser ouvida!</h3>
</div>

<form class="row g-3">

    @{
        string[] estados =  {"AC",
                             "AL",
                             "AP",
                             "AM",
                             "BA",
                             "CE",
                             "DF",
                             "ES",
                             "GO",
                             "MA",
                             "MT",
                             "MS",
                             "MG",
                             "PA",
                             "PB",
                             "PR",
                             "PE",
                             "PI",
                             "RJ",
                             "RN",
                             "RS",
                             "RO",
                             "RR",
                             "SC",
                             "SP",
                             "SE",
                             "TO" };
    }

    <h4>Identificação</h4>

    <div class="col-md-12">
        <label for="inputName" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="inputName">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>

    <div class="col-md-8">
        <label for="inputCity" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-2">
        <label for="inputState" class="form-label">UF</label>
        <select id="inputState" class="form-control">
            <option selected></option>
            @foreach (var item in estados)
            {
                <option>@item</option>
            }

        </select>
    </div>
    <div class="col-md-2">
        <label for="inputCep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="inputCep">
    </div>

    <div class="col-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="name@example.com">
    </div>

    <div class="col-6">
        <label for="inputFone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" id="inputFone" placeholder="(00) 0000-0000">
    </div>

    <h4>Experiências Profissionais</h4>

    <!-- VAI PRO MODAL
    <div class="col-md-12">
        <label for="inputName" class="form-label">Local de Trabalho</label>
        <input type="text" class="form-control" id="inputName">
    </div>

    <div class="col-md-6">
        <label for="inputName" class="form-label">Início</label>
        <input type="text" class="form-control" id="inputName">
    </div>

    <div class="col-md-6">
        <label for="inputName" class="form-label">Fim</label>
        <input type="text" class="form-control" id="inputName">
    </div>
    -->

    <div class="col-12">
        <button class="btn btn-primary" style="margin-bottom: 15px;">
            Adicionar novo
        </button>
    </div>

    <table class="table" style="margin-left: 15px;">
        <thead class="table-primary">
            <tr>
                <td class="col-5" scope="col">Local</td>
                <td class="col-2" scope="col">Início</td>
                <td class="col-2" scope="col">Fim</td>
                <td class="col-3" scope="col">Açoes</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BBBBB</td>           <!-- COLUMN 2 -->
                <td>CCCCCC</td>          <!-- COLUMN 3 -->
                <td>DDDDDDD</td>         <!-- COLUMN 4 -->
                <td>
                    <!-- COLUMN BUTTONS -->
                    <button type="button" class="btn btn-warning">Alterar</button>
                    <button type="button" class="btn btn-warning">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>


    <h4>Habilidades e Qualificações</h4>

    <!-- VAI PRO MODAL
    <div class="col-md-12">
        <label for="inputName" class="form-label">Local de Trabalho</label>
        <input type="text" class="form-control" id="inputName">
    </div>

    <div class="col-md-6">
        <label for="inputName" class="form-label">Início</label>
        <input type="text" class="form-control" id="inputName">
    </div>

    <div class="col-md-6">
        <label for="inputName" class="form-label">Fim</label>
        <input type="text" class="form-control" id="inputName">
    </div>
    -->

    <div class="col-12">
        <button class="btn btn-primary" style="margin-bottom: 15px;">
            Adicionar novo
        </button>
    </div>

    <table class="table" style="margin-left: 15px;">
        <thead class="table-primary">
            <tr>
                <td class="col-5" scope="col">Nome</td>
                <td class="col-4" scope="col">Certificado</td>
                <td class="col-3" scope="col">Açoes</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BBBBB</td>           <!-- COLUMN 2 -->
                <td>CCCCCC</td>          <!-- COLUMN 3 -->
                <td>
                    <!-- COLUMN BUTTONS -->
                    <button type="button" class="btn btn-warning">Alterar</button>
                    <button type="button" class="btn btn-warning">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Suas Redes</h4>
    <div class="col-md-10"></div>

    <div class="col-md-4">
        <label for="inputName" class="form-label">LinkedIn</label>
        <input type="text" class="form-control" id="inputName">
    </div>

    <div class="col-md-4">
        <label for="inputName" class="form-label">Github</label>
        <input type="text" class="form-control" id="inputName">
    </div>

    <div class="col-md-4">
        <label for="inputName" class="form-label">Website</label>
        <input type="text" class="form-control" id="inputName">
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary" style=" float: right; margin-top: 15px;">Cadastrar</button>
    </div>



</form>
